@model GroceryList.ViewModel.GroceryViewModel

@{ 
    Layout = null;
}

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet" />*@
    <link href="~/Content/Site.css?version=6" rel="stylesheet" />
    <title>Grocery List</title>
</head>
<body>
    <div class="container">
        <h1>I'M ALL OUT OF</h1>
        <div class="addItem">
            @using (Html.BeginForm("SaveRecord", "Home", FormMethod.Post, new { style = "margin-top: 1em;"}))
            {
                <div>@Html.ValidationSummary()</div>
                <div>
                    @Html.DropDownListFor(x => x.Grocery.MarketId, Model.MarketList, "-- Select Store --", new { @class = "form-control" })
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Grocery.Item, new { @class = "form-control", @placeholder = "Item" })
                    @Html.TextBoxFor(x => x.Grocery.Quantity, new { @class= "form-control", @placeholder = "Quantity"})
                </div>
                <input type="submit" value="ADD" class="btn btn-block" />
            }
        </div>
        @Html.Action("LoadGroceryList")            
    </div>
    
</body>
</html>